/* [project]/src/styles/theme.css [app-client] (css) */
:root, :host {
  --color-transparent: #0000;
  --color-white: #fff;
  --color-brand-50: #fef6ee;
  --color-brand-100: #fdead7;
  --color-brand-200: #f9dbaf;
  --color-brand-300: #f7b27a;
  --color-brand-400: #f38744;
  --color-brand-500: #ef6820;
  --color-brand-600: #e04f16;
  --color-brand-700: #b93815;
  --color-brand-800: #932f19;
  --color-brand-900: #772917;
  --color-brand-950: #511c10;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;
  --color-success-50: #ecfdf3;
  --color-success-100: #dcfae6;
  --color-success-200: #abefc6;
  --color-success-300: #75e0a7;
  --color-success-400: #47cd89;
  --color-success-500: #17b26a;
  --color-success-600: #079455;
  --color-success-700: #067647;
  --color-success-800: #085d3a;
  --color-success-900: #074d31;
  --color-success-950: #053321;
  --color-gray-25: #fdfdfd;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #181d27;
  --color-gray-950: #0a0d12;
  --color-gray-blue-300: #b3b8db;
  --color-gray-blue-400: #717bbc;
  --color-gray-blue-500: #4e5ba6;
  --color-gray-blue-600: #3e4784;
  --color-gray-blue-700: #363f72;
  --color-gray-blue-800: #293056;
  --color-gray-blue-900: #101323;
  --color-gray-blue-950: #0d0f1c;
  --color-green-300: #73e2a3;
  --color-green-400: #3ccb7f;
  --color-green-500: #16b364;
  --color-green-600: #099250;
  --color-green-700: #087443;
  --color-green-800: #095c37;
  --color-green-900: #084c2e;
  --color-green-950: #052e1c;
  --color-blue-light-300: #7cd4fd;
  --color-blue-light-400: #36bffa;
  --color-blue-light-500: #0ba5ec;
  --color-blue-light-600: #0086c9;
  --color-blue-light-700: #026aa2;
  --color-blue-light-800: #065986;
  --color-blue-light-900: #0b4a6f;
  --color-blue-light-950: #062c41;
  --color-blue-300: #84caff;
  --color-blue-400: #53b1fd;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-800: #1849a9;
  --color-blue-900: #194185;
  --color-blue-950: #102a56;
  --color-blue-dark-300: #84adff;
  --color-blue-dark-400: #528bff;
  --color-blue-dark-500: #2970ff;
  --color-blue-dark-600: #155eef;
  --color-blue-dark-700: #004eeb;
  --color-blue-dark-800: #0040c1;
  --color-blue-dark-900: #00359e;
  --color-blue-dark-950: #026;
  --color-indigo-300: #a4bcfd;
  --color-indigo-400: #8098f9;
  --color-indigo-500: #6172f3;
  --color-indigo-600: #444ce7;
  --color-indigo-700: #3538cd;
  --color-indigo-800: #2d31a6;
  --color-indigo-900: #2d3282;
  --color-indigo-950: #1f235b;
  --color-purple-300: #bdb4fe;
  --color-purple-400: #9b8afb;
  --color-purple-500: #7a5af8;
  --color-purple-600: #6938ef;
  --color-purple-700: #5925dc;
  --color-purple-800: #4a1fb8;
  --color-purple-900: #3e1c96;
  --color-purple-950: #27115f;
  --color-fuchsia-300: #eeaafd;
  --color-fuchsia-400: #e478fa;
  --color-fuchsia-500: #d444f1;
  --color-fuchsia-600: #ba24d5;
  --color-fuchsia-700: #9f1ab1;
  --color-fuchsia-800: #821890;
  --color-fuchsia-900: #6f1877;
  --color-fuchsia-950: #47104c;
  --color-pink-300: #faa7e0;
  --color-pink-400: #f670c7;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;
  --color-pink-700: #c11574;
  --color-pink-800: #9e165f;
  --color-pink-900: #851651;
  --color-pink-950: #4e0d30;
  --color-orange-dark-300: #ff9c66;
  --color-orange-dark-400: #ff692e;
  --color-orange-dark-500: #ff4405;
  --color-orange-dark-600: #e62e05;
  --color-orange-dark-700: #bc1b06;
  --color-orange-dark-800: #97180c;
  --color-orange-dark-900: #771a0d;
  --color-orange-dark-950: #57130a;
  --color-orange-300: #f7b27a;
  --color-orange-400: #f38744;
  --color-orange-500: #ef6820;
  --color-orange-600: #e04f16;
  --color-orange-700: #b93815;
  --color-orange-800: #932f19;
  --color-orange-900: #772917;
  --color-orange-950: #511c10;
  --color-yellow-300: #fde272;
  --color-yellow-400: #fac515;
  --color-yellow-500: #eaaa08;
  --color-yellow-600: #ca8504;
  --color-yellow-700: #a15c07;
  --color-yellow-800: #854a0e;
  --color-yellow-900: #713b12;
  --color-yellow-950: #542c0d;
  --color-utility-gray-50: var(--color-gray-50);
  --color-utility-gray-100: var(--color-gray-100);
  --color-utility-gray-200: var(--color-gray-200);
  --color-utility-gray-300: var(--color-gray-300);
  --color-utility-gray-400: var(--color-gray-400);
  --color-utility-gray-500: var(--color-gray-500);
  --color-utility-gray-600: var(--color-gray-600);
  --color-utility-gray-700: var(--color-gray-700);
  --color-utility-gray-800: var(--color-gray-800);
  --color-utility-gray-900: var(--color-gray-900);
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-secondary_hover: var(--color-gray-800);
  --color-text-tertiary: var(--color-gray-600);
  --color-text-tertiary_hover: var(--color-gray-700);
  --color-text-quaternary: var(--color-gray-500);
  --color-text-error-primary: var(--color-error-600);
  --color-text-error-primary_hover: var(--color-error-700);
  --color-text-warning-primary: var(--color-warning-600);
  --color-text-success-primary: var(--color-success-600);
  --color-text-disabled: var(--color-gray-500);
  --color-text-placeholder: var(--color-gray-500);
  --color-text-placeholder_subtle: var(--color-gray-300);
  --color-text-primary_on-brand: var(--color-white);
  --color-text-secondary_on-brand: var(--color-brand-200);
  --color-text-tertiary_on-brand: var(--color-brand-200);
  --color-text-quaternary_on-brand: var(--color-brand-300);
  --color-text-brand-primary: var(--color-brand-900);
  --color-text-brand-secondary: var(--color-brand-700);
  --color-text-brand-secondary_hover: var(--color-brand-800);
  --color-text-brand-tertiary: var(--color-brand-600);
  --color-text-brand-tertiary_alt: var(--color-brand-600);
  --color-border-primary: var(--color-gray-300);
  --color-border-secondary: var(--color-gray-200);
  --color-border-secondary_alt: #00000014;
  --color-border-tertiary: var(--color-gray-100);
  --color-border-error: var(--color-error-500);
  --color-border-error_subtle: var(--color-error-300);
  --color-border-disabled: var(--color-gray-300);
  --color-border-disabled_subtle: var(--color-gray-200);
  --color-border-brand: var(--color-brand-500);
  --color-border-brand_alt: var(--color-brand-600);
  --color-fg-brand-primary: var(--color-brand-600);
  --color-bg-primary: var(--color-white);
  --color-bg-primary-solid: var(--color-gray-950);
  --color-bg-primary_alt: var(--color-white);
  --color-bg-primary_hover: var(--color-gray-50);
  --color-bg-secondary: var(--color-gray-50);
  --color-bg-secondary-solid: var(--color-gray-600);
  --color-bg-secondary_subtle: var(--color-gray-25);
  --color-bg-secondary_hover: var(--color-gray-100);
  --color-bg-secondary_alt: var(--color-gray-50);
  --color-bg-tertiary: var(--color-gray-100);
  --color-bg-quaternary: var(--color-gray-200);
  --color-bg-error-primary: var(--color-error-50);
  --color-bg-error-secondary: var(--color-error-100);
  --color-bg-error-solid: var(--color-error-600);
  --color-bg-warning-primary: var(--color-warning-50);
  --color-bg-warning-secondary: var(--color-warning-100);
  --color-bg-warning-solid: var(--color-warning-600);
  --color-bg-success-primary: var(--color-success-50);
  --color-bg-success-secondary: var(--color-success-100);
  --color-bg-success-solid: var(--color-success-600);
  --color-bg-disabled: var(--color-gray-100);
  --color-bg-disabled_subtle: var(--color-gray-50);
  --color-bg-active: var(--color-gray-50);
  --color-bg-overlay: var(--color-gray-950);
  --color-bg-brand-primary: var(--color-brand-50);
  --color-bg-brand-primary_alt: var(--color-brand-50);
  --color-bg-brand-secondary: var(--color-brand-100);
  --color-bg-brand-solid: var(--color-brand-600);
  --color-bg-brand-solid_hover: var(--color-brand-700);
  --color-bg-brand-section: var(--color-brand-800);
  --color-bg-brand-section_subtle: var(--color-brand-700);
  --color-tooltip-supporting-text: var(--color-gray-300);
}

@layer base {
  .dark-mode {
    --color-alpha-white: #0c0e12;
    --color-alpha-black: #fff;
    --color-gray-25: #fafafa;
    --color-gray-50: #f7f7f7;
    --color-gray-100: #f0f0f1;
    --color-gray-200: #ececed;
    --color-gray-300: #cecfd2;
    --color-gray-400: #94979c;
    --color-gray-500: #85888e;
    --color-gray-600: #61656c;
    --color-gray-700: #373a41;
    --color-gray-800: #22262f;
    --color-gray-900: #13161b;
    --color-gray-950: #0c0e12;
    --color-utility-blue-50: var(--color-blue-950);
    --color-utility-blue-100: var(--color-blue-900);
    --color-utility-blue-200: var(--color-blue-800);
    --color-utility-blue-300: var(--color-blue-700);
    --color-utility-blue-400: var(--color-blue-600);
    --color-utility-blue-500: var(--color-blue-500);
    --color-utility-blue-600: var(--color-blue-400);
    --color-utility-blue-700: var(--color-blue-300);
    --color-utility-brand-50: var(--color-brand-950);
    --color-utility-brand-50_alt: var(--color-utility-gray-50);
    --color-utility-brand-100: var(--color-brand-900);
    --color-utility-brand-100_alt: var(--color-utility-gray-100);
    --color-utility-brand-200: var(--color-brand-800);
    --color-utility-brand-200_alt: var(--color-utility-gray-200);
    --color-utility-brand-300: var(--color-brand-700);
    --color-utility-brand-300_alt: var(--color-utility-gray-300);
    --color-utility-brand-400: var(--color-brand-600);
    --color-utility-brand-400_alt: var(--color-utility-gray-400);
    --color-utility-brand-500: var(--color-brand-500);
    --color-utility-brand-500_alt: var(--color-utility-gray-500);
    --color-utility-brand-600: var(--color-brand-400);
    --color-utility-brand-600_alt: var(--color-utility-gray-600);
    --color-utility-brand-700: var(--color-brand-300);
    --color-utility-brand-700_alt: var(--color-utility-gray-700);
    --color-utility-brand-800: var(--color-brand-200);
    --color-utility-brand-800_alt: var(--color-utility-gray-800);
    --color-utility-brand-900: var(--color-brand-100);
    --color-utility-brand-900_alt: var(--color-utility-gray-900);
    --color-utility-gray-50: var(--color-gray-900);
    --color-utility-gray-100: var(--color-gray-800);
    --color-utility-gray-200: var(--color-gray-700);
    --color-utility-gray-300: var(--color-gray-700);
    --color-utility-gray-400: var(--color-gray-600);
    --color-utility-gray-500: var(--color-gray-500);
    --color-utility-gray-600: var(--color-gray-400);
    --color-utility-gray-700: var(--color-gray-300);
    --color-utility-gray-800: var(--color-gray-200);
    --color-utility-gray-900: var(--color-gray-100);
    --color-utility-error-50: var(--color-error-950);
    --color-utility-error-100: var(--color-error-900);
    --color-utility-error-200: var(--color-error-800);
    --color-utility-error-300: var(--color-error-700);
    --color-utility-error-400: var(--color-error-600);
    --color-utility-error-500: var(--color-error-500);
    --color-utility-error-600: var(--color-error-400);
    --color-utility-error-700: var(--color-error-300);
    --color-utility-warning-50: var(--color-warning-950);
    --color-utility-warning-100: var(--color-warning-900);
    --color-utility-warning-200: var(--color-warning-800);
    --color-utility-warning-300: var(--color-warning-700);
    --color-utility-warning-400: var(--color-warning-600);
    --color-utility-warning-500: var(--color-warning-500);
    --color-utility-warning-600: var(--color-warning-400);
    --color-utility-warning-700: var(--color-warning-300);
    --color-utility-success-50: var(--color-success-950);
    --color-utility-success-100: var(--color-success-900);
    --color-utility-success-200: var(--color-success-800);
    --color-utility-success-300: var(--color-success-700);
    --color-utility-success-400: var(--color-success-600);
    --color-utility-success-500: var(--color-success-500);
    --color-utility-success-600: var(--color-success-400);
    --color-utility-success-700: var(--color-success-300);
    --color-utility-orange-50: var(--color-orange-950);
    --color-utility-orange-100: var(--color-orange-900);
    --color-utility-orange-200: var(--color-orange-800);
    --color-utility-orange-300: var(--color-orange-700);
    --color-utility-orange-400: var(--color-orange-600);
    --color-utility-orange-500: var(--color-orange-500);
    --color-utility-orange-600: var(--color-orange-400);
    --color-utility-orange-700: var(--color-orange-300);
    --color-utility-blue-dark-50: var(--color-blue-dark-950);
    --color-utility-blue-dark-100: var(--color-blue-dark-900);
    --color-utility-blue-dark-200: var(--color-blue-dark-800);
    --color-utility-blue-dark-300: var(--color-blue-dark-700);
    --color-utility-blue-dark-400: var(--color-blue-dark-600);
    --color-utility-blue-dark-500: var(--color-blue-dark-500);
    --color-utility-blue-dark-600: var(--color-blue-dark-400);
    --color-utility-blue-dark-700: var(--color-blue-dark-300);
    --color-utility-indigo-50: var(--color-indigo-950);
    --color-utility-indigo-100: var(--color-indigo-900);
    --color-utility-indigo-200: var(--color-indigo-800);
    --color-utility-indigo-300: var(--color-indigo-700);
    --color-utility-indigo-400: var(--color-indigo-600);
    --color-utility-indigo-500: var(--color-indigo-500);
    --color-utility-indigo-600: var(--color-indigo-400);
    --color-utility-indigo-700: var(--color-indigo-300);
    --color-utility-fuchsia-50: var(--color-fuchsia-950);
    --color-utility-fuchsia-100: var(--color-fuchsia-900);
    --color-utility-fuchsia-200: var(--color-fuchsia-800);
    --color-utility-fuchsia-300: var(--color-fuchsia-700);
    --color-utility-fuchsia-400: var(--color-fuchsia-600);
    --color-utility-fuchsia-500: var(--color-fuchsia-500);
    --color-utility-fuchsia-600: var(--color-fuchsia-400);
    --color-utility-fuchsia-700: var(--color-fuchsia-300);
    --color-utility-pink-50: var(--color-pink-950);
    --color-utility-pink-100: var(--color-pink-900);
    --color-utility-pink-200: var(--color-pink-800);
    --color-utility-pink-300: var(--color-pink-700);
    --color-utility-pink-400: var(--color-pink-600);
    --color-utility-pink-500: var(--color-pink-500);
    --color-utility-pink-600: var(--color-pink-400);
    --color-utility-pink-700: var(--color-pink-300);
    --color-utility-purple-50: var(--color-purple-950);
    --color-utility-purple-100: var(--color-purple-900);
    --color-utility-purple-200: var(--color-purple-800);
    --color-utility-purple-300: var(--color-purple-700);
    --color-utility-purple-400: var(--color-purple-600);
    --color-utility-purple-500: var(--color-purple-500);
    --color-utility-purple-600: var(--color-purple-400);
    --color-utility-purple-700: var(--color-purple-300);
    --color-utility-orange-dark-50: var(--color-orange-dark-950);
    --color-utility-orange-dark-100: var(--color-orange-dark-900);
    --color-utility-orange-dark-200: var(--color-orange-dark-800);
    --color-utility-orange-dark-300: var(--color-orange-dark-700);
    --color-utility-orange-dark-400: var(--color-orange-dark-600);
    --color-utility-orange-dark-500: var(--color-orange-dark-500);
    --color-utility-orange-dark-600: var(--color-orange-dark-400);
    --color-utility-orange-dark-700: var(--color-orange-dark-300);
    --color-utility-blue-light-50: var(--color-blue-light-950);
    --color-utility-blue-light-100: var(--color-blue-light-900);
    --color-utility-blue-light-200: var(--color-blue-light-800);
    --color-utility-blue-light-300: var(--color-blue-light-700);
    --color-utility-blue-light-400: var(--color-blue-light-600);
    --color-utility-blue-light-500: var(--color-blue-light-500);
    --color-utility-blue-light-600: var(--color-blue-light-400);
    --color-utility-blue-light-700: var(--color-blue-light-300);
    --color-utility-gray-blue-50: var(--color-gray-blue-950);
    --color-utility-gray-blue-100: var(--color-gray-blue-900);
    --color-utility-gray-blue-200: var(--color-gray-blue-800);
    --color-utility-gray-blue-300: var(--color-gray-blue-700);
    --color-utility-gray-blue-400: var(--color-gray-blue-600);
    --color-utility-gray-blue-500: var(--color-gray-blue-500);
    --color-utility-gray-blue-600: var(--color-gray-blue-400);
    --color-utility-gray-blue-700: var(--color-gray-blue-300);
    --color-utility-green-50: var(--color-green-950);
    --color-utility-green-100: var(--color-green-900);
    --color-utility-green-200: var(--color-green-800);
    --color-utility-green-300: var(--color-green-700);
    --color-utility-green-400: var(--color-green-600);
    --color-utility-green-500: var(--color-green-500);
    --color-utility-green-600: var(--color-green-400);
    --color-utility-green-700: var(--color-green-300);
    --color-utility-yellow-50: var(--color-yellow-950);
    --color-utility-yellow-100: var(--color-yellow-900);
    --color-utility-yellow-200: var(--color-yellow-800);
    --color-utility-yellow-300: var(--color-yellow-700);
    --color-utility-yellow-400: var(--color-yellow-600);
    --color-utility-yellow-500: var(--color-yellow-500);
    --color-utility-yellow-600: var(--color-yellow-400);
    --color-utility-yellow-700: var(--color-yellow-300);
    --color-text-white: var(--color-white);
    --color-text-primary: var(--color-gray-50);
    --color-text-secondary: var(--color-gray-300);
    --color-text-secondary_hover: var(--color-gray-200);
    --color-text-tertiary: var(--color-gray-400);
    --color-text-tertiary_hover: var(--color-gray-300);
    --color-text-quaternary: var(--color-gray-400);
    --color-text-error-primary: var(--color-error-400);
    --color-text-warning-primary: var(--color-warning-400);
    --color-text-success-primary: var(--color-success-400);
    --color-text-disabled: var(--color-gray-500);
    --color-text-brand-primary: var(--color-gray-50);
    --color-text-brand-secondary: var(--color-gray-300);
    --color-text-brand-tertiary: var(--color-gray-400);
    --color-text-placeholder: var(--color-gray-500);
    --color-text-placeholder_subtle: var(--color-gray-700);
    --color-text-primary_on-brand: var(--color-gray-50);
    --color-text-secondary_on-brand: var(--color-gray-300);
    --color-text-tertiary_on-brand: var(--color-gray-400);
    --color-text-quaternary_on-brand: var(--color-gray-400);
    --color-text-brand-secondary_hover: var(--color-gray-200);
    --color-text-brand-tertiary_alt: var(--color-gray-50);
    --color-text-error-primary_hover: var(--color-error-300);
    --color-border-primary: var(--color-gray-700);
    --color-border-secondary: var(--color-gray-800);
    --color-border-secondary_alt: var(--color-gray-800);
    --color-border-tertiary: var(--color-gray-800);
    --color-border-brand: var(--color-brand-400);
    --color-border-brand_alt: var(--color-gray-700);
    --color-border-error: var(--color-error-400);
    --color-border-error_subtle: var(--color-error-500);
    --color-border-disabled: var(--color-gray-700);
    --color-border-disabled_subtle: var(--color-gray-800);
    --color-fg-white: var(--color-white);
    --color-fg-primary: var(--color-white);
    --color-fg-secondary: var(--color-gray-300);
    --color-fg-tertiary: var(--color-gray-400);
    --color-fg-tertiary_hover: var(--color-gray-300);
    --color-fg-quaternary: var(--color-gray-600);
    --color-fg-quaternary_hover: var(--color-gray-500);
    --color-fg-error-primary: var(--color-error-500);
    --color-fg-error-secondary: var(--color-error-400);
    --color-fg-warning-primary: var(--color-warning-500);
    --color-fg-warning-secondary: var(--color-warning-400);
    --color-fg-success-primary: var(--color-success-500);
    --color-fg-success-secondary: var(--color-success-400);
    --color-fg-secondary_hover: var(--color-gray-200);
    --color-fg-disabled: var(--color-gray-500);
    --color-fg-disabled_subtle: var(--color-gray-600);
    --color-fg-brand-primary: var(--color-brand-500);
    --color-fg-brand-secondary: var(--color-brand-500);
    --color-fg-brand-primary_alt: var(--color-gray-300);
    --color-fg-brand-secondary_alt: var(--color-gray-600);
    --color-fg-brand-secondary_hover: var(--color-gray-500);
    --color-bg-primary: var(--color-gray-950);
    --color-bg-primary-solid: var(--color-bg-secondary);
    --color-bg-primary_alt: var(--color-bg-secondary);
    --color-bg-primary_hover: var(--color-gray-800);
    --color-bg-secondary: var(--color-gray-900);
    --color-bg-secondary-solid: var(--color-gray-600);
    --color-bg-secondary_subtle: var(--color-gray-900);
    --color-bg-secondary_hover: var(--color-gray-800);
    --color-bg-tertiary: var(--color-gray-800);
    --color-bg-quaternary: var(--color-gray-700);
    --color-bg-error-primary: var(--color-error-950);
    --color-bg-error-secondary: var(--color-error-600);
    --color-bg-error-solid: var(--color-error-600);
    --color-bg-warning-primary: var(--color-warning-950);
    --color-bg-warning-secondary: var(--color-warning-600);
    --color-bg-warning-solid: var(--color-warning-600);
    --color-bg-success-primary: var(--color-success-950);
    --color-bg-success-secondary: var(--color-success-600);
    --color-bg-success-solid: var(--color-success-600);
    --color-bg-active: var(--color-gray-800);
    --color-bg-disabled: var(--color-gray-800);
    --color-bg-disabled_subtle: var(--color-gray-900);
    --color-bg-brand-primary: var(--color-brand-500);
    --color-bg-brand-primary_alt: var(--color-bg-secondary);
    --color-bg-brand-secondary: var(--color-brand-600);
    --color-bg-secondary_alt: var(--color-bg-primary);
    --color-bg-brand-solid: var(--color-brand-600);
    --color-bg-brand-solid_hover: var(--color-brand-500);
    --color-bg-overlay: var(--color-gray-800);
    --color-bg-brand-section: var(--color-bg-secondary);
    --color-bg-brand-section_subtle: var(--color-bg-primary);
    --color-app-store-badge-border: var(--color-white);
    --color-avatar-bg: var(--color-gray-800);
    --color-avatar-contrast-border: #ffffff1f;
    --color-avatar-profile-photo-border: var(--color-gray-950);
    --color-avatar-styles-bg-neutral: #e0e0e0;
    --color-button-destructive-primary-icon: var(--color-error-300);
    --color-button-destructive-primary-icon_hover: var(--color-error-200);
    --color-button-primary-icon: var(--color-brand-300);
    --color-button-primary-icon_hover: var(--color-brand-200);
    --color-featured-icon-light-fg-brand: var(--color-brand-200);
    --color-featured-icon-light-fg-error: var(--color-error-200);
    --color-featured-icon-light-fg-gray: var(--color-gray-200);
    --color-featured-icon-light-fg-success: var(--color-success-200);
    --color-featured-icon-light-fg-warning: var(--color-warning-200);
    --color-focus-ring-error: var(--color-error-500);
    --color-focus-ring: var(--color-brand-500);
    --color-footer-button-fg: var(--color-gray-300);
    --color-footer-button-fg_hover: var(--color-gray-100);
    --color-icon-fg-brand: var(--color-gray-400);
    --color-icon-fg-brand_on-brand: var(--color-gray-400);
    --color-nav-item-button-icon-fg: var(--color-gray-400);
    --color-nav-item-button-icon-fg_active: var(--color-gray-300);
    --color-nav-item-icon-fg: var(--color-gray-400);
    --color-nav-item-icon-fg_active: var(--color-gray-300);
    --color-screen-mockup-border: var(--color-gray-700);
    --color-slider-handle-bg: var(--color-fg-brand-primary);
    --color-slider-handle-border: var(--color-bg-primary);
    --color-toggle-border: var(--color-transparent);
    --color-toggle-button-fg_disabled: var(--color-gray-600);
    --color-toggle-slim-border_pressed-hover: var(--color-transparent);
    --color-toggle-slim-border_pressed: var(--color-transparent);
    --color-tooltip-supporting-text: var(--color-gray-300);
    --color-text-editor-icon-fg: var(--color-gray-400);
    --color-text-editor-icon-fg_active: var(--color-white);
    --background-color-primary: var(--color-bg-primary);
    --background-color-primary-solid: var(--color-bg-primary-solid);
    --background-color-primary_alt: var(--color-bg-primary_alt);
    --background-color-primary_hover: var(--color-bg-primary_hover);
    --background-color-secondary: var(--color-bg-secondary);
    --background-color-secondary-solid: var(--color-bg-secondary-solid);
    --background-color-secondary_alt: var(--color-bg-secondary_alt);
    --background-color-secondary_hover: var(--color-bg-secondary_hover);
    --background-color-secondary_subtle: var(--color-bg-secondary_subtle);
    --background-color-tertiary: var(--color-bg-tertiary);
    --background-color-quaternary: var(--color-bg-quaternary);
    --background-color-active: var(--color-bg-active);
    --background-color-disabled: var(--color-bg-disabled);
    --background-color-disabled_subtle: var(--color-bg-disabled_subtle);
    --background-color-overlay: var(--color-bg-overlay);
    --background-color-brand-primary: var(--color-bg-brand-primary);
    --background-color-brand-primary_alt: var(--color-bg-brand-primary_alt);
    --background-color-brand-secondary: var(--color-bg-brand-secondary);
    --background-color-brand-solid: var(--color-bg-brand-solid);
    --background-color-brand-solid_hover: var(--color-bg-brand-solid_hover);
    --background-color-brand-section: var(--color-bg-brand-section);
    --background-color-brand-section_subtle: var(--color-bg-brand-section_subtle);
    --background-color-error-primary: var(--color-bg-error-primary);
    --background-color-error-secondary: var(--color-bg-error-secondary);
    --background-color-error-solid: var(--color-bg-error-solid);
    --background-color-warning-primary: var(--color-bg-warning-primary);
    --background-color-warning-secondary: var(--color-bg-warning-secondary);
    --background-color-warning-solid: var(--color-bg-warning-solid);
    --background-color-success-primary: var(--color-bg-success-primary);
    --background-color-success-secondary: var(--color-bg-success-secondary);
    --background-color-success-solid: var(--color-bg-success-solid);
    --background-color-border-brand: var(--color-border-brand);
    --background-color-border-tertiary: var(--color-border-tertiary);
    --background-color-border-brand_alt: var(--color-border-brand_alt);
    --text-color-primary: var(--color-text-primary);
    --text-color-primary_on-brand: var(--color-text-primary_on-brand);
    --text-color-secondary: var(--color-text-secondary);
    --text-color-secondary_hover: var(--color-text-secondary_hover);
    --text-color-secondary_on-brand: var(--color-text-secondary_on-brand);
    --text-color-tertiary: var(--color-text-tertiary);
    --text-color-tertiary_hover: var(--color-text-tertiary_hover);
    --text-color-tertiary_on-brand: var(--color-text-tertiary_on-brand);
    --text-color-quaternary: var(--color-text-quaternary);
    --text-color-quaternary_on-brand: var(--color-text-quaternary_on-brand);
    --text-color-disabled: var(--color-text-disabled);
    --text-color-placeholder: var(--color-text-placeholder);
    --text-color-placeholder_subtle: var(--color-text-placeholder_subtle);
    --text-color-brand-primary: var(--color-text-brand-primary);
    --text-color-brand-secondary: var(--color-text-brand-secondary);
    --text-color-brand-secondary_hover: var(--color-text-brand-secondary_hover);
    --text-color-brand-tertiary: var(--color-text-brand-tertiary);
    --text-color-brand-tertiary_alt: var(--color-text-brand-tertiary_alt);
    --text-color-error-primary: var(--color-text-error-primary);
    --text-color-error-primary_hover: var(--color-text-error-primary_hover);
    --text-color-warning-primary: var(--color-text-warning-primary);
    --text-color-success-primary: var(--color-text-success-primary);
    --text-color-tooltip-supporting-text: var(--color-tooltip-supporting-text);
    --border-color-primary: var(--color-border-primary);
    --border-color-secondary: var(--color-border-secondary);
    --border-color-secondary_alt: var(--color-border-secondary_alt);
    --border-color-tertiary: var(--color-border-tertiary);
    --border-color-disabled: var(--color-border-disabled);
    --border-color-brand: var(--color-border-brand);
    --border-color-brand-solid: var(--color-bg-brand-solid);
    --border-color-brand-solid_hover: var(--color-bg-brand-solid_hover);
    --border-color-error: var(--color-border-error);
    --border-color-disabled_subtle: var(--color-border-disabled_subtle);
    --border-color-brand_alt: var(--color-border-brand_alt);
    --border-color-error_subtle: var(--color-border-error_subtle);
    --ring-color-primary: var(--color-border-primary);
    --ring-color-secondary: var(--color-border-secondary);
    --ring-color-secondary_alt: var(--color-border-secondary_alt);
    --ring-color-tertiary: var(--color-border-tertiary);
    --ring-color-brand: var(--color-border-brand);
    --ring-color-brand-solid: var(--color-bg-brand-solid);
    --ring-color-brand-solid_hover: var(--color-bg-brand-solid_hover);
    --ring-color-error: var(--color-border-error);
    --ring-color-error_subtle: var(--color-border-error_subtle);
    --ring-color-disabled: var(--color-border-disabled);
    --ring-color-disabled_subtle: var(--color-border-disabled_subtle);
    --ring-color-brand_alt: var(--color-border-brand_alt);
    --ring-color-bg-brand-solid: var(--color-bg-brand-solid);
    --outline-color-primary: var(--color-border-primary);
    --outline-color-secondary: var(--color-border-secondary);
    --outline-color-secondary_alt: var(--color-border-secondary_alt);
    --outline-color-tertiary: var(--color-border-tertiary);
    --outline-color-disabled: var(--color-border-disabled);
    --outline-color-disabled_subtle: var(--color-border-disabled_subtle);
    --outline-color-brand-solid: var(--color-bg-brand-solid);
    --outline-color-brand-solid_hover: var(--color-bg-brand-solid_hover);
    --outline-color-error: var(--color-border-error);
    --outline-color-error_subtle: var(--color-border-error_subtle);
    --outline-color-brand: var(--color-border-brand);
    --outline-color-brand_alt: var(--color-border-brand_alt);
  }
}

/*# sourceMappingURL=src_styles_theme_css_bad6b30c._.single.css.map*/